<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary">
	<div class="wrapper">
		
	{{template "main-header" .}} 
	{{template "side-bar" .}} 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content header-->
		{{template "content-header" .}}	 
		
		<!-- Main content -->
		<section class="content">
			<div class="col-12">
			  <div class="box box-default">
					<!-- /.box-header -->
					<div class="box-body">
						<!-- Nav tabs -->
						<div class="vtabs">
							<ul class="nav nav-tabs tabs-vertical" role="tablist">
								<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#details" role="tab"><span class="hidden-sm-up"><i class="ion-home"></i></span> <span class="hidden-xs-down">Details</span> </a> </li>
								<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#documents" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Documentation</span></a> </li>
								<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#resources" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Resources</span></a> </li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="details" role="tabpanel">
									<div class="box">
										<div class="box-body">
											<div class="row">
												<div class="col-md-4 col-sm-6">
													<div class="box box-body b-1 text-center no-shadow">
														<img src="{{index .product "avatar"}}" id="product-image" class="img-fluid" alt="" />
													</div>
													<h4 class="box-title mt-40">Description</h4>
													<hr>
													<p style="white-space: pre-wrap;">{{index .product "description"}}</p>
													<div class="clear"></div>
												</div>
												<div class="col-md-8 col-sm-6">
													<h2 class="box-title mt-0">{{index .product "name"}}</h2>
													<div class="list-inline">
														<a class="text-warning"><i class="mdi mdi-star"></i></a>
														<a class="text-warning"><i class="mdi mdi-star"></i></a>
														<a class="text-warning"><i class="mdi mdi-star"></i></a>
														<a class="text-warning"><i class="mdi mdi-star"></i></a>
														<a class="text-warning"><i class="mdi mdi-star"></i></a>
													</div>
													{{if ne (index .product "pricing") "Free"}}
														<h5 class="pro-price mb-0 mt-20">{{index .product "pricing"}}</h5>
													{{end}}
													<h3 class="pro-price mb-0 mt-20">{{index .product "price"}}</h3>
													<hr>
													<p>{{index .product "short_description"}}</p>
													<hr>
													<div class="gap-items">
														<a href="{{index .product "new_project"}}" class="btn btn-success"><i class="mdi mdi-shopping"></i> Start a project</a>
													</div>
													<h4 class="box-title mt-20">Tags</h4>
													<ul class="list-icons">
														<li><i class="fa text-danger float-none"></i>{{index .product "tags"}}</li>
													</ul>
													<h4 class="box-title mt-20">Categories</h4>
													<div class="clearfix">
														{{range $k, $c := .categories}}
															<a href="/user-main/store#{{$k}}" class="waves-effect waves-light btn btn-primary btn-sm mb-5">{{$c}}</button>
														{{end}}
													</div>
												</div>
												<div class="col-lg-12 col-md-12 col-sm-12">
													<h4 class="box-title mt-40">General Info</h4>
													<div class="table-responsive">
														<table class="table">
															<tbody>
																<tr>
																	<td width="390">Public</td>
																	<td> {{index .product "is_public_text"}} </td>
																</tr>
																<tr>
																	<td width="390">Requires 3D</td>
																	<td> {{index .product "requires_3d_text"}} </td>
																</tr>
																<tr>
																	<td width="390">Supports client applications</td>
																	<td> {{index .product "requires_3d_text"}} </td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>				
									</div>
								</div>
								<div class="tab-pane" id="documents" role="tabpanel">
									{{template "product-docs" .}}	
								</div>
								<div class="tab-pane" id="resources" role="tabpanel">
									{{template "product-files" .}}	
								</div>
							</div>
						</div>
					</div>
					<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
   <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; 2020 <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights Reserved.
  </footer>
  
	<!-- Side bar-->
	{{template "side-bar" .}}
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
	<script src="/assets/js/pages/ecommerce_details.js"></script>
	

</body>
</html>
