<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}
<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
  <div class="wrapper">
    {{template "main-header" .}}
    {{template "side-bar" .}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {{template "content-header" .}}
      
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="box-body">
            <form id="faqs-form" action="{{index . "create_item"}}" method="post">
              <div class="form-group">
                <label>Group :<span class="danger">*</span></label>
                <div class="radio-list">
                  {{range $k, $v := (index .faq_groups)}}
                    <label class="radio-inline p-0 mr-10">
                      <div class="radio radio-info">
                        <input type="radio" name="group" id="group_{{$k}}" value="{{$v}}" {{if eq $k 0}}checked{{end}}>
                        <label for="group_{{$k}}">{{$v}}</label>
                      </div>
                    </label>
                  {{end}}
                </div>
              </div>
              <div class="form-group">
                <label for="question">Question :<span class="danger">*</span></label>
                <input type="text" class="form-control required" id="question" name="question" required>
              </div>
              <div class="form-group">
                <label for="new-text">Answer :<span class="danger">*</span></label>
                <textarea name="answer" id="new-text" class="textarea" value='{{index . "resource_content"}}'
                      style="width: 100%; height: 400px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" required></textarea>
                <button id="create-new-item" name="create-new-item" class="btn btn-primary mt-10">Create</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- /.content -->
      </div>
    </div>
    <!-- /.content-wrapper -->
    {{template "footer" .}}
  
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->	 
	
	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
    <script src="/assets/js/bootstrap3-wysihtml5.all.js"></script>
    <script src="/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
		
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
  <script src="/assets/js/editor.js"></script>
  <script src="/assets/js/pages/resources-faqs.js"></script>
  {{if eq (index . "future_feature") 0}}
    <script src="/assets/js/pages/component-rating-init.js"></script>
  {{end}}
</body>
</html>
