<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}
<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
  <div class="wrapper">
    {{template "main-header" .}}
    {{template "side-bar" .}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {{template "content-header" .}}
      
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="box-body">
            <form id="files-form" action="{{index .files "edit"}}" enctype="multipart/form-data" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="title">Title :<span class="danger">*</span></label>
                    <input type="text" class="form-control required" id="title" name="title" value="{{index .files "title"}}" required>
                  </div>
                  <div class="form-group">
                    <label for="short">Short description :<span class="danger">*</span></label>
                    <input type="text" class="form-control required" id="short" name="short" value="{{index .files "short"}}" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div id="files-group" class="form-group with-border">
                    {{range $i, $a := (index .files "files")}}
                      <label class="mt-20">Reference text :<span class="danger">*</span></label>
                      <input type="text" class="form-control required" id="ref_name_{{$i}}" name="ref_name_{{$i}}" value="{{index $a "ref_name"}}" required>
                      <label>Resource :</label>
                      <div id="radio-list_{{$i}}" class="radio-list">
                        <label class="radio-inline p-0 mr-10">
                          <div class="radio radio-info">
                            <input type="radio" name="type_{{index $a "type"}}" id="link_{{$i}}" value="link" {{if eq (index $a "type") "link"}}checked{{end}}>
                            <label for="link_{{$i}}">Repo Link</label>
                          </div>
                        </label>
                        <label class="radio-inline">
                          <div class="radio radio-info">
                            <input type="radio" name="type_{{index $a "type"}}" id="file_{{$i}}" value="file" {{if eq (index $a "type") "file"}}checked{{end}}>
                            <label for="file_{{$i}}">File</label>
                          </div>
                        </label>
                      </div>
                      <input type="url" class="form-control" id="repo_link_{{$i}}" name="repo_link_{{index $a "type"}}" value="{{index $a "ref"}}">
                      <input type="file" class="btn btn-primary form-control" id="upload_file_{{$i}}" name="upload_file_{{index $a "type"}}">
                    {{end}}
                    <button id="add-more" name="add-more" class="btn-sm btn-secondary mt-10">Add More</button>
                  </div>
                </div>
              </div>
              <button id="create-new-item" name="create-new-item" class="btn btn-primary mt-10">Update</button>
            </form>
          </div>
        </div>
      </section>
      <!-- /.content -->
      </div>
    </div>
    <!-- /.content-wrapper -->
    {{template "footer" .}}
  
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->	 
	
	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
    <script src="/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
		
	<!-- Venusx Admin App -->
  <script src="/assets/js/bootstrap3-wysihtml5.all.js"></script>
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
  <script src="/assets/js/pages/resources-files.js"></script>
  {{if eq (index . "future_feature") 0}}
    <script src="/assets/js/pages/component-rating-init.js"></script>
  {{end}}
</body>
</html>
