<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
  {{template "header-info" .}}
  <body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      {{template "main-header" .}}
      {{template "side-bar" .}}
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        {{template "content-header" .}}

        <!-- Main content -->
        <section class="content">
          <div class="row">

          <div class="col-12">
            <div class="box">
            <div class="box-body">
              <!-- Nav tabs -->
              <ul class="nav nav-pills rounded nav-justified">
                {{range $i, $a := .faq_groups}}
                  <li class="nav-item"> <a href="#navpills-{{$i}}" class="nav-link {{if eq $i 0}}active{{end}}" data-toggle="tab" aria-expanded="false">{{$a}}</a> </li>
                {{end}}
              </ul>
            </div>
            <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="box">
            <div class="box-body">
              <!-- Tab panes -->
              <div class="tab-content">
                {{$faqs := index . "faqs"}}
                {{range $i, $a := .faq_groups}}
                <div id="navpills-{{$i}}" class="tab-pane {{if eq $i 0}}active{{end}}">
                  <div class=" tab-pane animation-fade {{if eq $i 0}}active{{end}}" id="category-{{$i}}" role="tabpanel">
                    <div class="panel-group panel-group-simple panel-group-continuous" id="accordion2" aria-multiselectable="true" role="tablist">
                    {{range $j, $b := $faqs}}
                      {{if eq (index $b "group") $a}}
                        <div class="panel">
                          <div class="panel-heading" id="question-{{$j}}" role="tab">
                            <a class="panel-title" aria-controls="answer-{{$j}}" aria-expanded="true" data-toggle="collapse" href="#answer-{{$j}}" data-parent="#accordion2">{{index $b "question"}}</a>
                          </div>
                          <div class="panel-collapse collapse show" id="answer-{{$j}}" aria-labelledby="question-{{$j}}"role="tabpanel">
                            <div class="panel-body">{{index $b "answer"}}</div>
                          </div>
                        </div>
                      {{end}}
                    {{end}}
                    </div>
                  </div>
                </div>
                {{end}}
              </div>
            </div>
            <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>  
          </div>
          <!-- /.row -->

        </section>
        <!-- /.content -->	  
      </div>
    </div>
    <!-- /.content-wrapper -->
 
    {{template "footer" .}}
  </div>
  <!-- ./wrapper -->


	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
	

</body>
</html>
