<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}
<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
  <div class="wrapper">
    {{template "main-header" .}}
    {{template "side-bar" .}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {{template "content-header" .}}
      
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-6 col-12">
            {{$privilege := index .user "privileges"}}
            {{range $i, $a := .files}}
            <div class="box">
              <div class="box-body">
                {{if (index $privilege "edit_page")}}
                  <div class="text-right fadeInLeft">
                    <a href="{{index $a "edit"}}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                  </div>
                {{end}}
                <h4 class="mb-a0">{{index $a "title"}}</h4>
                <p class="mb-20">{{index $a "short"}}</p>
                {{$fileLinks := index $a "files"}}
                {{range $j, $b := $fileLinks}}
                  <div class="row"><a href="{{index $b "ref"}}" {{if eq (index $b "type") "file"}}download{{end}}><i class="fa fa-{{index $b "type"}}"></i> {{index $b "ref_name"}}</a></div>
                {{end}}
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </section>
      <!-- /.content -->
      </div>
    </div>
    <!-- /.content-wrapper -->
    {{template "footer" .}}
  </div>
  <!-- ./wrapper -->	 
	
	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
		
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
</body>
</html>
