{{define "news-content"}}
	<div class="row">
		<div class="col-xl-12 col-12"> 
			<div class="box">
				<div class="box-header">
					<h4 class="box-title">News</h4>
				</div>
				<div class="box-body">
					<div class="timeline5">
						<div class="timeline__group">
							<span class="timeline__year">2008</span>
							<div class="timeline__box">
							<div class="timeline__date">
								<span class="timeline__day">2</span>
								<span class="timeline__month">Feb</span>
							</div>
							<div class="timeline__post">
								<div class="timeline__content">
								<p>First news</p>
								<img src="/assets/images/150x100.png" alt="..." class="m-10">
								<img src="/assets/images/150x100.png" alt="..." class="m-10">
								<img src="/assets/images/150x100.png" alt="..." class="m-10">
								<img src="/assets/images/150x100.png" alt="..." class="m-10">
								</div>
								<div class="timeline-footer">
									<a class="btn btn-success btn-sm" href="#">View comment</a>
								</div>
							</div>
							</div>
							<div class="timeline__box">
							<div class="timeline__date">
								<span class="timeline__day">1</span>
								<span class="timeline__month">Sept</span>
							</div>
							<div class="timeline__post">
								<div class="timeline__content">
								<p>More news happening, and they contain nonsense, like Morty and Pippa</p>
								</div>
								<div class="timeline-footer">
									<a class="btn btn-success btn-sm" href="#">View comment</a>
								</div>
							</div>
							</div>
						</div>
						<div class="timeline__group">
							<span class="timeline__year">2014</span>
							<div class="timeline__box">
							<div class="timeline__date">
								<span class="timeline__day">14</span>
								<span class="timeline__month">Jul</span>
							</div>
							<div class="timeline__post">
								<div class="timeline__content">
									<p>Robots are dancing</p>
									<div class="embed-responsive embed-responsive-16by9">
										<iframe width="854" height="480" src="https://www.youtube.com/embed/fn3KWM1kuAw" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="timeline-footer">
										<a class="btn btn-success btn-sm" href="#">View comment</a>
									</div>
								</div>
							</div>
							</div>
						</div>
						<div class="timeline__group">
							<span class="timeline__year">2016</span>
							<div class="timeline__box">
							<div class="timeline__date">
								<span class="timeline__day">28</span>
								<span class="timeline__month">Aug</span>
							</div>
							<div class="timeline__post">
								<div class="timeline__content">
									<p>Upon moving to Brooklyn that summer, I began photographing weddings in Chicago</p>
								</div>
								<div class="timeline-footer">
									<a class="btn btn-success btn-sm" href="#">View comment</a>
								</div>
							</div>
							</div>
						</div>
						</div>
				</div>
				<div class="text-center bt-1 border-light p-2">
					<a class="text-uppercase d-block font-size-12" href="#">More</a>
				</div>               
			</div>
		</div>
	</div>
{{end}}