<!DOCTYPE html>
<html lang="en">

{{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
	<div class="wrapper">
		{{template "main-header" .}}
		{{template "side-bar" .}}
	</div>
	<!-- ./wrapper -->	 

	<!-- Main content -->
	<section class="content">
		<div class="content-wrapper">
			<div class="container-full">
			{{template "content-header" .}}
			{{template "news-content" .}}
		</div>    
	</section>

	</div>
	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
	<script src="/assets/css/icons/feather-icons/feather.min.js"></script>	
		
	<script src="/assets/vendor_components/apexcharts-bundle/irregular-data-series.js"></script>
	<script src="/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>	
	<script src="/assets/vendor_components/datatable/datatables.min.js"></script>
	<script src="/assets/vendor_components/jquery.peity/jquery.peity.js"></script>

	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/pages/dashboard.js"></script>
	<script src="/assets/js/demo.js"></script>
</body>
</html>
