<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}
<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
  <div class="wrapper">
    {{template "main-header" .}}
    {{template "side-bar" .}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {{template "content-header" .}}
      
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card-deck">
              {{$privilege := index .user "privileges"}}
              {{$future_feature := index . "future_feature"}}
              {{range $i, $a := .tutorials}}
                <div class="card text-left">
                  {{if eq (index $a "avatar_type") "video"}}
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="854" height="480" src="{{index $a "avatar"}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                  {{else}}
                    <img class="card-img-top" src="{{index $a "avatar"}}" alt="card image cap">
                  {{end}}

                  <div class="card-body">
                    {{if (index $privilege "edit_page")}}
                      <div class="text-right fadeInLeft">
                        <a href="{{index $a "edit"}}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                      </div>
                    {{end}}
                    <h4 class="card-title b-0 px-0">{{index $a "title"}}</h4>
                    <p>{{index $a "short"}}</p>
                    {{if ne (index $a "content") ""}}
                      <a href="{{index $a "content_ref"}}" class="btn btn-primary">More</a>
                    {{end}}
                  </div>
                  <div class="card-footer justify-content-between d-flex">
                    <span class="text-muted">Last updated {{index $a "last_updated"}}</span>
                    {{if eq $future_feature 0}}
                      <span>
                        <div id="default-star-rating"></div>
                        <span class="text-muted ml-2">(12)</span>
                      </span>
                    {{end}}
                  </div>
                </div>
              {{end}}
            </div>	
          </div>
        </div>
      </section>
      <!-- /.content -->
      </div>
    </div>
    <!-- /.content-wrapper -->
    {{template "footer" .}}
  
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->	 
	
	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
		
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
  {{if eq (index . "future_feature") 0}}
    <script src="/assets/js/pages/component-rating-init.js"></script>
  {{end}}
</body>
</html>
