<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}

<body class="hold-transition theme-primary bg-gradient-primary">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">
			
			<div class="col-12">
				<div class="row justify-content-center no-gutters">
					<div class="col-lg-4 col-md-5 col-12">
						<div class="bg-white-10 rounded5">
							<div class="p-30">
                <form action="{{index .route}}" method="get">
                  <div class="col-12 text-center">
                    <p class="mt-15 mb-0 text-white">{{index .message}}</p>
                  </div>
                  <div class="col-12 text-center">
                    <button type="submit" class="btn btn-info margin-top-10">{{index .button_text}}</button>
                  </div>
								</form>													
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>

	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
  <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
</body>
</html>
