<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Polygnosics</title>
<!-- Stylesheets -->
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/style-front-page.css" rel="stylesheet">
<!-- Responsive File -->
<link href="/assets/css/responsive.css" rel="stylesheet">
<!-- Color File -->
<link href="/assets/css/color.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Merriweather:ital@0;1&display=swap" rel="stylesheet">


<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>

    {{template "index-header" .}}

    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="far fa-times-circle"></span></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>
            <div class="search-form">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                            <input type="submit" value="Search Now!" class="theme-btn">
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bnner Section -->
    <section class="banner-section">
        <div class="swiper-container banner-slider">
            <div class="swiper-wrapper">
                <!-- Slide Item -->
                <div class="swiper-slide" style="background-image: url(/assets/images/front-page-1.jpg);">
                    <div class="content-outer">
                        <div class="content-box justify-content-center">
                            <div class="inner text-center">
                                <h1>Implement your idea</h1>
                                <div class="text">Simulate a process or model behaviours <br>create your own AI game arena</div>
                                <div class="link-box">
                                    <a href="#" class="theme-btn btn-style-one"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Item -->
                <div class="swiper-slide" style="background-image: url(/assets/images/front-page-2.jpg);">
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="inner">
                                <h1>Connect to the industry and academic research</h1>
                                <div class="text">Share your solution with the industry and academic organisations, individuals or fellow developers</div>
                                <div class="link-box">
                                    <a href="#" class="theme-btn btn-style-one"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Item -->
                <div class="swiper-slide" style="background-image: url(/assets/images/front-page-3.jpg);">
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="inner">
                                <h1>Build a community</h1>
                                <div class="text">Contribute to the work of others, express your interest and ideas towards the community</div>
                                <div class="link-box">
                                    <a href="#" class="theme-btn btn-style-one"><span>Read More</span></a>
                                </div>
                            </div>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-slider-nav">
            <div class="banner-slider-control banner-slider-button-prev"><span><i class="icon-arrow"></i></span></div>
            <div class="banner-slider-control banner-slider-button-next"><span><i class="icon-arrow"></i></span> </div>
        </div>
    </section>
    <!-- End Bnner Section -->

    <!-- About section -->
    <section class="about-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <div class="big-title">Polygnosics</div>
                <div class="sub-title">Creativity - Science - Community</div>
                <h2>We provide the environment <br> to realize your ideas </h2>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="content-block wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="text">Industry and Academic research needs more smart people. We provide the bridge between these individuals or groups and the industrial and academic sector. </div>
                        <ul class="list">
                            <li>Easy to use interface for clients</li>
                            <li>Freedom of creativity for developers and researches</li>
                            <li>Open source for the ever growing community</li>
                            <li>Earn your own keep for your creativity</li>
                        </ul>
                        <a href="#" class="theme-btn btn-style-one style-two"><span>Virtual tour</span></a>
                        <ul class="list"></ul>
                        <div class="bottom-content">
                            <div class="text">For Any Help, Questions <br> or Suggestions, Contact Us</div>
                            <ul class="contact-link">
                                <li><a href="/general-contact"><i class="icon-placeholder"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image-block wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="row">
                            <div class="col-lg-6 column">
                                <div class="image"><img src="/assets/images/promo-intro-1.jpg" alt=""></div>
                                <div class="image"><img src="/assets/images/promo-intro-3.jpg" alt=""></div>
                            </div>
                            <div class="col-lg-6 column">
                                <div class="image"><img src="/assets/images/promo-intro-2.jpg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Funfacts Section -->
    <section class="funfacts-section" style="background-image: url(/assets/images/fun-facts.jpg);">
        <div class="auto-container">
            <div class="row">
                <!--Column-->
                <div class="column counter-column col-lg-4 col-md-6">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-outer">
                            <div class="icon"><span class="fa fa-tv"></span></div>
                        </div>
                        <div class="content">
                            <div class="text">Products</div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="13000">40000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column counter-column col-lg-4 col-md-6">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-outer">
                            <div class="icon"><span class="icon-laptop"></span></div>
                        </div>
                        <div class="content">
                            <div class="text">Running Projects</div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="345">40000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column counter-column col-lg-4 col-md-6">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-outer">
                            <div class="icon"><span class="icon-people"></span></div>
                        </div>
                        <div class="content">
                            <div class="text">Active users</div>
                            <div class="count-outer count-box">
                                <span>Over </span><span class="count-text" data-speed="3000" data-stop="10000">40000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{template "index-footer" .}}
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon-arrow"></span></div>

<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap-select.min.js"></script>
<script src="/assets/js/jquery.fancybox.js"></script>
<script src="/assets/js/isotope.js"></script>
<script src="/assets/js/owl.js"></script>
<script src="/assets/js/appear.js"></script>
<script src="/assets/js/wow.js"></script>
<script src="/assets/js/lazyload.js"></script>
<script src="/assets/js/scrollbar.js"></script>
<script src="/assets/js/TweenMax.min.js"></script>
<script src="/assets/js/swiper.min.js"></script>
<script src="/assets/js/jquery.polyglot.language.switcher.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/parallax-scroll.js"></script>

<script src="/assets/js/script.js"></script>


</body>
</html>













