{{define "terms"}}
  <!-- Modal -->
  <div class="modal center-modal fade" id="modal-terms" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Privacy, Terms and Conditions</h5>
			<button type="button" class="close" data-dismiss="modal">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
        <p class="mb-20">You are safe with us and we provide public disclosure</p>
		  </div>
		  <div class="modal-footer modal-footer-uniform">
			  <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->
{{end}}