{{define "index-footer"}}
    <!-- Main  Footer -->
    <footer class="main-footer">
      <div class="footer-top">
          <div class="auto-container">
              <div class="row align-items-center">
                  <div class="col-lg-3">
                      <div class="logo"><a href="/index"><img src="assets/images/logo-light-text.png" alt=""></a></div>
                  </div>
                  <div class="col-lg-9">
                      <div class="wrapper-box">
                          <h4>Signup For Newsletter</h4>
                          <div class="newsletter-form">
                              <form class="ajax-sub-form" method="post">
                                  <div class="form-group">
                                      <input type="email" placeholder="Email Address..." id="subscription-email">
                                      <button type="submit" class="theme-btn"><i class="icon-arrow"></i><span></span></button>
                                      <label class="subscription-label" for="subscription-email"></label>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="auto-container">
          <!--Widgets Section-->
          <div class="widgets-section">
              <div class="row clearfix">
                  <!--Column-->
                  <div class="column col-lg-3 col-md-6">
                      <div class="widget links-widget">
                          <h3 class="widget-title">Useful Links</h3>
                          <div class="widget-content">
                              <ul>
                                  <li><a href="https://github.com/">Github Page</a></li>
                                  <li><a href="https://stackoverflow.com/">Stackoverflow</a></li>
                              </ul>                                        
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
          <div class="auto-container">
              <div class="wrapper-box">
                  <div class="copyright">
                    &copy; 2021 <a href="https://github.com/artofimagination/">Art of Science and Imagination</a>. All Rights Reserved.
                  </div>
              </div>
          </div>
      </div>
  </footer>
  {{end}}