{{define "main-header"}}
<header class="main-header">
  <div class="d-flex align-items-center logo-box justify-content-between">	
    <!-- Logo -->
    <a href="index.html" class="logo">
      <!-- logo-->
      <div class="logo-lg">
        <span class="light-logo"><img src="/assets/images/logo-dark-text.png" alt="logo"></span>
        <span class="dark-logo"><img src="/assets/images/logo-light-text.png" alt="logo"></span>
      </div>
    </a>	
    <a href="#" class="waves-effect waves-light nav-link rounded d-none d-md-inline-block mx-10" data-toggle="push-menu" role="button">
      <i class="nav-link-icon mdi mdi-menu text-dark"></i>
    </a>
  </div>  
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top pl-10">
    <!-- Sidebar toggle button-->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="btn-group dropdown notifications-menu">
          <a href="#" class="waves-effect waves-light dropdown-toggle" data-toggle="dropdown" title="Notifications">
            <i class="mdi mdi-bell"></i>
          </a>
          <ul class="dropdown-menu animated fadeInUp">
            <li class="header">
              <div class="p-20">
                <div class="flexbox">
                  <div>
                    <h4 class="mb-0 mt-0">Notifications</h4>
                  </div>
                  <div>
                    <a href="#" class="text-danger">Clear All</a>
                  </div>
                </div>
              </div>
            </li>
    
            <li>
              <ul class="menu sm-scrol">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-info"></i> Important notification on news board.
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-warning text-warning"></i> Project is halted
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users text-danger"></i> User cancelled subscription
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-success"></i> Project finished
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all</a>
            </li>
          </ul>
        </li>
        <li class="btn-group">
          <a href="#" data-provide="fullscreen" class="waves-effect waves-light dropdown-toggle" title="Full Screen"><i class="mdi mdi-crop-free"></i></a>
        </li>	
        <li class="btn-group">
          <a href="#" data-toggle="control-sidebar" title="Setting" class="waves-effect waves-light dropdown-toggle"><i class="mdi mdi-monitor"></i></a>
        </li>
        <li class="search-bar">		  
          <div class="lookup lookup-circle lookup-right">
             <input type="text" name="s">
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

  <!-- Control Sidebar -->
  <aside class="control-sidebar">
    <div class="rpanel-title"><span class="pull-right btn btn-circle btn-danger"><i class="ion ion-close text-white" data-toggle="control-sidebar"></i></span>
    </div>  <!-- Create the tabs -->
    <div class="tab-content">
      <div class="tab-pane" id="control-sidebar-home-tab"></div>
    </div>
  </aside>
    
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
{{end}}