{{define "news-feed"}}
<div class="box">
  <div class="box-header">
    <h4 class="box-title">News</h4>
  </div>
  <div class="box-body">
    <div class="timeline5">
      {{$privilege := index .user "privileges"}}
      {{$future_feature := index . "future_feature"}}
      {{range $k, $v := (index . "news_feed")}}
        <div class="timeline__group">
          <span class="timeline__year">{{$k}}</span>
          {{range $i, $a := $v}}
            <div class="timeline__box">
              <div class="timeline__date">
                <span class="timeline__day">{{index . "news_day"}}</span>
                <span class="timeline__month">{{index . "news_month"}}</span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  {{if (index $privilege "edit_page")}}
                    <div class="text-right fadeInLeft">
                      <a href="{{index . "edit"}}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                    </div>
                  {{end}}
                  <p>{{index . "news_text"}}</p>
                </div>
                <div class="timeline-footer">
                  {{if eq $future_feature 0}}
                    <a class="btn btn-success btn-sm" href="/resources/news?=0">View comment</a>
                  {{end}}
                </div>
              </div>
            </div>
          {{end}}
        </div>
      {{end}}
    </div>
  </div>             
</div>
{{end}}