{{define "news-feed"}}
<div class="box">
  <div class="box-header">
    <h4 class="box-title">News</h4>
  </div>
  <div class="box-body">
    <div class="timeline5">
      {{range (index (index . "news"))}}
        <div class="timeline__group">
          <span class="timeline__year">{{index . "news_year"}}</span>
          {{range (index . "post_key")}}
            <div class="timeline__box">
              <div class="timeline__date">
                <span class="timeline__day">{{index . "news_day"}}</span>
                <span class="timeline__month">{{index . "news_month"}}</span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>{{index . "news_text"}}</p>
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-success btn-sm" href="/resources/news?=0">View comment</a>
                </div>
              </div>
            </div>
          {{end}}
        </div>
      {{end}}
    </div>
  </div>
  <div class="text-center bt-1 border-light p-2">
    <a class="text-uppercase d-block font-size-12" href="/resources/news">More</a>
  </div>               
</div>
{{end}}