{{define "side-bar"}}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar-->
  <section class="sidebar">	
    <div class="user-profile px-20 py-5">
      <div class="d-flex align-items-center">			
        <div class="image">
          <a href="{{index .user "profile"}}"><img src="{{index .user "avatar"}}" class="avatar avatar-lg" alt="User Image"></a>
        </div>
        <div class="info">
          <a class="px-20" href="{{index .user "profile"}}">{{index .user "username"}}</a>
        </div>
      </div>
      <ul class="list-inline profile-setting mt-10 mb-0 d-flex justify-content-between">
        <li><a href="/user-main" data-toggle="tooltip" data-placement="top" title="Home"><i data-feather="home"></i></a></li>
        <li><a href="/user-main/mail-inbox" data-toggle="tooltip" data-placement="top" title="Inbox"><i data-feather="mail"></i></a></li>
        {{if eq (index . "future_feature") 0}}
        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Connections"><i data-feather="users"></i></a></li>
        {{end}}
        {{if eq (index . "future_feature") 0}}
        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Chat"><i data-feather="message-square"></i></a></li>
        {{end}}
        <li><a href="/user-main/settings" data-toggle="tooltip" data-placement="top" title="Settings"><i data-feather="settings"></i></a></li>
        <li><a href="/auth_logout" data-toggle="tooltip" data-placement="top" title="Logout"><i data-feather="log-out"></i></a></li>
      </ul>
    </div>
  
    <!-- sidebar menu-->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Dashboard</li>
      {{$privilege := index .user "privileges"}}
      {{if (index $privilege "main_dashboard")}} 
        <li class="treeview">
          <a href="#">
            <i data-feather="bar-chart-2"></i>
            <span>Main Dashboards</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/user-main/user-stats"><i class="ti-more"></i>User Stats</a></li>
            <li><a href="/user-main/products-projects"><i class="ti-more"></i>Overall Item Stats</a></li>
            <li><a href="/user-main/accounting"><i class="ti-more"></i>Accounting</a></li>
            <li><a href="/user-main/ui-stats"><i class="ti-more"></i>UI Stats</a></li>
            <li><a href="/user-main/system-health"><i class="ti-more"></i>System Health</a></li>
            <li><a href="/user-main/misuse-metrics"><i class="ti-more"></i>Misuse Metrics</a></li>	
          </ul>
        </li>	
      {{end}}
      {{if (index $privilege "project_stats")}}	  
        <li>
          <a href="/user-main/project-stats">
            <i data-feather="pie-chart"></i>
            <span>Project statistics</span>
          </a>
        </li>
      {{end}}
      {{if (index $privilege "product_stats")}}
        <li>
          <a href="/user-main/product-stats">
            <i data-feather="pie-chart"></i>
            <span>Product statistics</span>
          </a>
        </li>
      {{end}}
      <li class="header">Projects</li>
      <li>
        <a href="/user-main/project-browser">
          <i data-feather="shopping-cart"></i>
          <span>Browse projects</span>
        </a>
      </li>
      <li>
        <a href="/user-main/my-projects">
          <i data-feather="shopping-bag"></i>
          <span>My Projects</span>
        </a>
      </li>
      <li class="header">Products</li>
      <li>
        <a href="/user-main/store">
          <i data-feather="shopping-cart"></i>
          <span>MarketPlace</span>
        </a>
      </li>
      <li>
        <a href="/user-main/my-products">
          <i data-feather="shopping-bag"></i>
          <span>My Products</span>
        </a>
      </li>
      <li>
        <a href="/user-main/product-wizard">
          <i data-feather="plus-square"></i>
          <span>Create</span>
        </a>
      </li> 
      <li class="header">Resources</li>
      <li>
        <a href="/resources/news">
          <i data-feather="info"></i>
          <span>News</span>
        </a>
      </li>
      <li>
        <a href="/resources/docs">
          <i data-feather="book-open"></i>
          <span>Documentation</span>
        </a>
      </li>
      <li>
        <a href="/resources/files">
          <i data-feather="file"></i>
          <span>Files</span>
        </a>
      </li>
      <li class="header">About us</li>
      <li>
        <a href="/about/career">
          <i data-feather="users"></i>
          <span>Career</span>
        </a>
      </li>
      <li>
        <a href="/about/contact">
          <i data-feather="globe"></i>
          <span>Contact</span>
        </a>
      </li>
      <li>
        <a href="/about/who-we-are">
          <i data-feather="smile"></i>
          <span>Who we are?</span>
        </a>
      </li> 
    </ul>
  </section>
</aside>
{{end}}