<!DOCTYPE html>
<html lang="en">
  {{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper">
	{{template "main-header" .}} 
	{{template "side-bar" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

    {{template "content-header" .}}	

		<!-- Main content -->
		<section class="content">
			<div class="loader" id="webrtc-loader"></div>
			<div class="row hidden-during-loading" id="charts">
				<div class="row">
					<div class="col-lg-4 col-12">
						<div class="box bg-primary">						
							<div class="box-body text-white">
								<div class="d-flex justify-content-between align-items-center">
									<h5>Month</h5>
									<h5>+12%</h5>
								</div>
								<h1 class="my-10">13</h1>
								<div class="d-flex justify-content-between align-items-center">
									<h5 class="mb-0">Subscriptions</h5>
									<h5 class="mb-0"><i class="ti-arrow-up text-light"></i></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="box bg-danger">						
							<div class="box-body text-white">
								<div class="d-flex justify-content-between align-items-center">
									<h5>Month</h5>
									<h5>-12%</h5>
								</div>
								<h1 class="my-10">12</h1>
								<div class="d-flex justify-content-between align-items-center">
									<h5 class="mb-0">Purchases</h5>
									<h5 class="mb-0"><i class="ti-arrow-up text-light"></i></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="box bg-success">						
							<div class="box-body text-white">
								<div class="d-flex justify-content-between align-items-center">
									<h5>Month</h5>
									<h5>+32%</h5>
								</div>
								<h1 class="my-10">123</h1>
								<div class="d-flex justify-content-between align-items-center">
									<h5 class="mb-0">Donations</h5>
									<h5 class="mb-0"><i class="ti-arrow-up text-light"></i></h5>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-8 col-12">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Income Overview (Fiat)</h4>
							</div><!-- box-header -->
							<div class="box-body pt-0">
								<div class="row justify-content-start">
									<div class="media col-lg-auto col-md-6 col-12 no-border">
										<div class="media-body mx-0">
											<label>Subscriptions</label>
											<h2 class="text-danger font-weight-600 my-5">$345.5</h2>
											<span class="text-fade"><strong class="text-dark">4.5%</strong> of Total Income</span>
										</div><!-- media-body -->
									</div><!-- media -->
									<div class="media col-lg-auto col-md-6 col-12 no-border">
										<div class="media-body mx-0">
											<label>Purchases</label>
											<h2 class="text-success font-weight-600 my-5">$2454</h2>
											<span class="text-fade"><strong class="text-dark">20.5%</strong> of Total Income</span>
										</div><!-- media-body -->
									</div><!-- media -->
									<div class="media col-lg-auto col-md-6 col-12 no-border">
										<div class="media-body mx-0">
											<label>Donations</label>
											<h2 class="text-primary font-weight-600 my-5">$10020</h2>
											<span class="text-fade"><strong class="text-dark">75%</strong> of Total Income</span>
										</div><!-- media-body -->
									</div><!-- media -->
								</div>
							</div>
							<div class="box-body">
								<div id="income-fiat-chart" class="flot-chart h-250"></div>
							</div><!-- box-body -->
						</div><!-- box -->
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Income Overview (Crypto)</h4>
							</div><!-- box-header -->
							<div class="box-body pt-0">
								<div class="row justify-content-start">
									<div class="media col-lg-auto col-md-6 col-12 no-border">
										<div class="media-body mx-0">
											<label>Subscriptions</label>
											<h2 class="text-danger font-weight-600 my-5"><i class="fa fa-btc" title="BTC"></i>0.0012</h2>
											<span class="text-fade"><strong class="text-dark">4.5%</strong> of Total Income</span>
										</div><!-- media-body -->
									</div><!-- media -->
									<div class="media col-lg-auto col-md-6 col-12 no-border">
										<div class="media-body mx-0">
											<label>Purchases</label>
											<h2 class="text-success font-weight-600 my-5"><i class="fa fa-btc" title="BTC"></i>0.11</h2>
											<span class="text-fade"><strong class="text-dark">20.5%</strong> of Total Income</span>
										</div><!-- media-body -->
									</div><!-- media -->
									<div class="media col-lg-auto col-md-6 col-12 no-border">
										<div class="media-body mx-0">
											<label>Donations</label>
											<h2 class="text-primary font-weight-600 my-5"><i class="fa fa-btc" title="BTC"></i>1.5</h2>
											<span class="text-fade"><strong class="text-dark">75%</strong> of Total Income</span>
										</div><!-- media-body -->
									</div><!-- media -->
								</div>
							</div>
							<div class="box-body">
								<div id="income-crypto-chart" class="flot-chart h-250"></div>
							</div><!-- box-body -->
						</div><!-- box -->
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Expenses/Revenue/Profit</h4>
							</div>
							<div class="box-body">
								<div id="detail-stats"></div>
							</div>
						</div>
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Expenses</h4>
								<ul class="box-controls pull-right">
									<li class="dropdown">
									<a data-toggle="dropdown" href="#" class="btn btn-rounded btn-primary px-10">Stats</a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#"> AWS</a>
										<a class="dropdown-item" href="#"> Payment System</a>
										<a class="dropdown-item" href="#"> Human resource</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#"> Daily</a>
										<a class="dropdown-item" href="#"> Monthly</a>
										<a class="dropdown-item" href="#"> Yearly</a>
									</div>
									</li>
								</ul>
							</div>
							<div class="box-body">
								<div id="expenses"></div>
							</div>
						</div>
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Forecast</h4>
							</div>
							<div class="box-body">
								<div id="forecast"></div>
							</div>
						</div>
					</div>
					
					<div class="col-12 col-xl-4">
						<div class="box">
							<div class="box-header no-border">
								<h4 class="box-title">
									Income sources
								</h4>
							</div>
							<div class="box-body">
								<div id="income-ratio"></div>
							</div>
						</div>
						<div class="box">
							<div class="box-header no-border">
								<h4 class="box-title">
									Currencies
								</h4>
							</div>
							<div class="box-body">
								<div id="currency-ratio"></div>
								<div>
									<hr>
									<p class="d-flex justify-content-between font-weight-700"><span class="text-fade">Crypto :</span>457</p>
									<p class="d-flex justify-content-between font-weight-700"><span class="text-fade">Fiat:</span>$134400</p>
								</div>
							</div>
						</div>
						<div class="box">
							<div class="box-header with-border">
								<h4 class="box-title">Invoice List</h4>
							</div>
							<div class="box-body">
								<div class="table-responsive">
								<table id="invoice-list" class="table table-hover no-wrap" data-page-size="10">
									<thead>
										<tr>
											<th>#Invoice</th>
											<th>Description</th>
											<th>Amount</th>
											<th>Status</th>
											<th>Issue</th>
											<th>View</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>#5010</td>
											<td>Lorem Ipsum</td>
											<td>$548</td>
											<td><span class="label label-danger">Unpaid</span> </td>
											<td>15-Jan</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5011</td>
											<td>Lorem Ipsum</td>
											<td>$548</td>
											<td><span class="label label-success">Paid</span> </td>
											<td>15-Sep</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5012</td>
											<td>Lorem Ipsum</td>
											<td>$9658</td>
											<td><span class="label label-danger">Unpaid</span> </td>
											<td>15-Jun</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5013</td>
											<td>Lorem Ipsum</td>
											<td>$4587</td>
											<td><span class="label label-success">Paid</span> </td>
											<td>15-May</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5014</td>
											<td>Lorem Ipsum</td>
											<td>$856</td>
											<td><span class="label label-danger">Unpaid</span> </td>
											<td>15-Mar</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5015</td>
											<td>Lorem Ipsum</td>
											<td>$956</td>
											<td><span class="label label-danger">Unpaid</span> </td>
											<td>15-Aug</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5016</td>
											<td>Lorem Ipsum</td>
											<td>$745</td>
											<td><span class="label label-success">Paid</span> </td>
											<td>15-Aug</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5010</td>
											<td>Lorem Ipsum</td>
											<td>$548</td>
											<td><span class="label label-danger">Unpaid</span> </td>
											<td>15-Jan</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5011</td>
											<td>Lorem Ipsum</td>
											<td>$548</td>
											<td><span class="label label-success">Paid</span> </td>
											<td>15-Sep</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5012</td>
											<td>Lorem Ipsum</td>
											<td>$9658</td>
											<td><span class="label label-danger">Unpaid</span> </td>
											<td>15-Jun</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
										<tr>
											<td>#5013</td>
											<td>Lorem Ipsum</td>
											<td>$4587</td>
											<td><span class="label label-success">Paid</span> </td>
											<td>15-May</td>
											<td>
												<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  {{template "footer" .}} 
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
</div>
<!-- ./wrapper -->	 
	
	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
  <script src="/assets/css/icons/feather-icons/feather.min.js"></script>	
	<script src="/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>	
	<script src="/assets/vendor_components/jquery.peity/jquery.peity.js"></script>
	<script src="/assets/vendor_components/chart.js-master/Chart.min.js"></script>
	<script src="/assets/vendor_components/Flot/jquery.flot.js"></script>
	<script src="/assets/vendor_components/Flot/jquery.flot.resize.js"></script>
	<script src="/assets/vendor_components/Flot/jquery.flot.pie.js"></script>
	<script src="/assets/vendor_components/Flot/jquery.flot.categories.js"></script>
	<script src="/assets/js/pages/sampledata2.js"></script>
	<script src="/assets/js/pages/sampledata1.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/webrtc.js"></script>
	<script src="/assets/js/pages/dashboard-accounting.js"></script>
	<script src="/assets/js/demo.js"></script>
</body>
</html>
