<!DOCTYPE html>
<html lang="en">
  {{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper">
	{{template "main-header" .}} 
	{{template "side-bar" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

    {{template "content-header" .}}	

		<!-- Main content -->
		<section class="content">
			<div class="loader" id="webrtc-loader"></div>
			<div class="row hidden-during-loading" id="charts">
				<!--Default!-->
				<div class="col-xl-4">
					<div class="h-50 w-100">
						<div class="btn-group">
							<button class="btn btn-rounded btn-primary dropdown-toggle" type="button" data-toggle="dropdown">My products</button>
							<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Game 1</a>
							<a class="dropdown-item" href="#">Simulator 1</a>
							<a class="dropdown-item" href="#">Ai one</a>
							</div>
						</div>
					</div>						
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<div class="box bg-primary">						
							<div class="box-body text-white">
								<div class="d-flex justify-content-between align-items-center">
									<h5>Month</h5>
									<h5>+12%</h5>
								</div>
								<h1 class="my-10">13</h1>
								<div class="d-flex justify-content-between align-items-center">
									<h5 class="mb-0">Views</h5>
									<h5 class="mb-0"><i class="ti-arrow-up text-light"></i></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="box bg-danger">						
							<div class="box-body text-white">
								<div class="d-flex justify-content-between align-items-center">
									<h5>Month</h5>
									<h5>-12%</h5>
								</div>
								<h1 class="my-10">12</h1>
								<div class="d-flex justify-content-between align-items-center">
									<h5 class="mb-0">Pins</h5>
									<h5 class="mb-0"><i class="ti-arrow-up text-light"></i></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="box bg-success">						
							<div class="box-body text-white">
								<div class="d-flex justify-content-between align-items-center">
									<h5>Month</h5>
									<h5>+32%</h5>
								</div>
								<h1 class="my-10">123</h1>
								<div class="d-flex justify-content-between align-items-center">
									<h5 class="mb-0">Purchases</h5>
									<h5 class="mb-0"><i class="ti-arrow-up text-light"></i></h5>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-8 col-12">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Product Score </h4>
							</div><!-- box-header -->
							<div class="box-body pt-0">
								<div class="row justify-content-start">
									<div class="media col-lg-auto col-md-6 col-12 no-border">
										<div class="media-body mx-0">
											<label>Popularity</label>
											<h2 class="text-danger font-weight-600 my-5">4.4</h2>
											<span class="text-fade"><strong class="text-dark">Rank 23</strong> of 234 Products</span>
										</div><!-- media-body -->
									</div><!-- media -->
									<div class="media col-lg-auto col-md-6 col-12 no-border">
										<div class="media-body mx-0">
											<label>Success</label>
											<h2 class="text-success font-weight-600 my-5">3.2</h2>
											<span class="text-fade"><strong class="text-dark">89.5% is selling</strong> of 12 Total</span>
										</div><!-- media-body -->
									</div><!-- media -->
									<div class="media col-lg-auto col-md-6 col-12 no-border">
										<div class="media-body mx-0">
											<label>Rating</label>
											<h2 class="text-primary font-weight-600 my-5">4.5</h2>
											<span class="text-fade"><strong class="text-dark">3.4%</strong> of the buyers voted</span>
										</div><!-- media-body -->
									</div><!-- media -->
								</div>
							</div>
							<div class="box-body">
								<div id="scoreChart" class="flot-chart h-250"></div>
							</div><!-- box-body -->
						</div><!-- box -->
					</div>
					<div class="col-xl-4 col-12">
						<div class="box">	
							<div class="box-header no-border">
								<h4>Average project generation</h4>
								<ul class="box-controls pull-right">
									<li class="dropdown">
									<a data-toggle="dropdown" href="#" class="btn btn-rounded btn-primary px-10">Stats</a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#"> This month</a>
										<a class="dropdown-item" href="#"> This year</a>
										<a class="dropdown-item" href="#"> All time</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#"> Show hours</a>
										<a class="dropdown-item" href="#"> Show minutes</a>
										<a class="dropdown-item" href="#"> Show days</a>
									</div>
									</li>
								</ul>
							</div>
							<div class="box-body pb-40">
								<h1 class="text-center font-size-50">3</h1>
							</div>
							<div class="box-body p-0 overflow-h">					  	
								<div id="avg-project-gen"></div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-12">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Views/Pins/Purchases</h4>
							</div>
							<div class="box-body">
								<div id="detail-stats"></div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  {{template "footer" .}} 
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
</div>
<!-- ./wrapper -->	 
	
	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
  <script src="/assets/css/icons/feather-icons/feather.min.js"></script>	
	<script src="/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>	
	<script src="/assets/vendor_components/jquery.peity/jquery.peity.js"></script>
	<script src="/assets/vendor_components/chart.js-master/Chart.min.js"></script>
	<script src="/assets/vendor_components/Flot/jquery.flot.js"></script>
	<script src="/assets/vendor_components/Flot/jquery.flot.resize.js"></script>
	<script src="/assets/vendor_components/Flot/jquery.flot.pie.js"></script>
	<script src="/assets/vendor_components/Flot/jquery.flot.categories.js"></script>
	<script src="/assets/js/pages/sampledata2.js"></script>
	<script src="/assets/js/pages/sampledata1.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/webrtc.js"></script>
	<script src="/assets/js/pages/dashboard-products.js"></script>
	<script src="/assets/js/demo.js"></script>
</body>
</html>
