<!DOCTYPE html>
<html lang="en">
  {{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper">
	{{template "main-header" .}} 
	{{template "side-bar" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

    {{template "content-header" .}}	

		<!-- Main content -->
		<section class="content">
			<div class="loader" id="webrtc-loader"></div>
			<div class="row hidden-during-loading" id="charts">
				<!--Default!-->
				<div class="col-xl-4">
					<div class="h-50 w-100">
						<div class="btn-group">
							<button class="btn btn-rounded btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Feature</button>
							<div class="dropdown-menu">
							<a class="dropdown-item" href="#">News button</a>
							<a class="dropdown-item" href="#">Product details</a>
							<a class="dropdown-item" href="#">Product stats</a>
							</div>
						</div>
					</div>						
				</div>
				<div class="rows">
					<div class="col-12 col-xl-12">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">UI element clicks</h4>
							</div>
							<div class="box-body">
								<div id="click-stats"></div>
							</div>
						</div>	
					</div>
					<div class="col-12 col-xl-12">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Popularity</h4>
							</div>
							<div class="box-body">
								<div id="popularity-stats"></div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  {{template "footer" .}} 
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
</div>
<!-- ./wrapper -->	 
	
	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
  <script src="/assets/css/icons/feather-icons/feather.min.js"></script>	
	<script src="/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>	
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/webrtc.js"></script>
	<script src="/assets/js/pages/dashboard-ui-elements.js"></script>
	<script src="/assets/js/demo.js"></script>
</body>
</html>
