<!DOCTYPE html>
<html lang="en">
  {{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper">
	{{template "main-header" .}} 
	{{template "side-bar" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

    {{template "content-header" .}}	

		<!-- Main content -->
		<section class="content">
			<div class="loader" id="webrtc-loader"></div>
			<div class="row hidden-during-loading" id="charts">
				<div class="row">
					<div class="col-12 col-xl-8">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Users</h4>
							</div>
							<div class="box-body">
								<div id="user-count"></div>
							</div>
						</div>
						<div class="box">
							<div class="box-body">
								<h4 class="box-title">Online periods</h4>
								<div>
									<canvas id="online-period" height="80"></canvas>
								</div>
							</div>
						</div>	
					</div>
					<div class="col-xl-4 col-12">
						<div class="box">
							<div class="box-header no-border">
								<h4 class="box-title">
									Online users peak counts - Daily
								</h4>
								<ul class="box-controls pull-right">
									<li class="dropdown">
									<a data-toggle="dropdown" href="#" class="btn btn-rounded btn-primary px-10">Stats</a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#"> Daily</a>
										<a class="dropdown-item" href="#"> Monthly</a>
										<a class="dropdown-item" href="#"> Yearly</a>
									</div>
									</li>
								</ul>
							</div>
							<div class="box-body text-center" id="online-users-chart">
								<div class="bar mx-auto" id="online-users-bar" data-peity='{ "fill": ["#45b6c6", "#f49107", "#ef0753"], "height": 250, "width": 320, "padding":0.2 }'>0,0,0</div>
								<div class="d-flex justify-content-center mt-30">
									<div class="d-flex text-left">	
										<h4 class="font-weight-600" id="max-text">0 <br><small class="text-fade">Max</small></h4>
									</div>
									<div class="d-flex text-left mx-50">
										<h4 class="font-weight-600" id="min-text">0 <br><small class="text-fade">Min</small></h4>
									</div>
									<div class="d-flex text-left">
										<h4 class="font-weight-600" id="avg-text">0 <br><small class="text-fade">Average</small></h4>
									</div>
								</div>
							</div>
						</div>
						<div class="box">	
							<div class="box-header no-border">
								<h4>Average online time (last month)</h4>
								<ul class="box-controls pull-right">
									<li class="dropdown">
									<a data-toggle="dropdown" href="#" class="btn btn-rounded btn-primary px-10">Stats</a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#"> This month</a>
										<a class="dropdown-item" href="#"> This year</a>
										<a class="dropdown-item" href="#"> All time</a>
										<div class="dropdown-divider"></div>
								  	<a class="dropdown-item" href="#"> Show hours</a>
										<a class="dropdown-item" href="#"> Show minutes</a>
										<a class="dropdown-item" href="#"> Show days</a>
									</div>
									</li>
								</ul>
							</div>
							<div class="box-body pb-40">
								<h1 class="text-center font-size-50">12.5 hours</h1>
							</div>
								<div class="box-body p-0 overflow-h">					  	
								<div id="avg-online"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-xl-4">
						<div class="box">
							<div class="box-header no-border">
								<h4 class="box-title">
									Developers-clients ratio
								</h4>
							</div>
							<div class="box-body">
								<div id="dev-client-ratio"></div>
								<div>
									<hr>
									<p class="d-flex justify-content-between font-weight-700"><span class="text-fade">Developers :</span>457</p>
									<p class="d-flex justify-content-between font-weight-700"><span class="text-fade">Clients:</span>578</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-8">
						<div class="box">
							<div class="box-header no-border">
								<h4 class="box-title">
									Developer-client history
								</h4>
							</div>
							<div class="box-body pt-0">
								<div id="dev-client-history"></div>
							</div>
						</div>										
					</div>		
				</div>
				<div class="row">
					<div class="col-xl-6 col-12">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">
									Browser Used By Users
								</h4>
							</div>
							<div class="box-body">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="thead-light">
											<tr>
												<th class="border-top-0">Browser</th>
												<th class="border-top-0">Sessions</th>
												<th class="border-top-0">Requests</th>
											</tr><!--end tr-->
										</thead>
										<tbody>
											<tr>                                                        
												<td><i class="fa fa-chrome mr-2 text-danger font-16"></i>Chrome</td>
												<td>41225<small class="text-muted">(52%)</small></td>                                   
												<td>854<small class="text-muted">(92%)</small></td>
											</tr><!--end tr-->     
											<tr>                                                        
												<td><i class="fa fa-safari mr-2 text-info font-16"></i>Safari</td>
												<td>4587<small class="text-muted">(47%)</small></td>                                   
												<td>458<small class="text-muted">(81%)</small></td>
											</tr><!--end tr-->    
											<tr>                                                        
												<td><i class="fa fa-internet-explorer mr-2 text-warning font-16"></i>Internet-Explorer</td>
												<td>2154<small class="text-muted">(38%)</small></td>                                   
												<td>658<small class="text-muted">(74%)</small></td>
											</tr><!--end tr-->    
											<tr>                                                        
												<td><i class="fa fa-opera mr-2 text-danger font-16"></i>Opera</td>
												<td>1254<small class="text-muted">(31%)</small></td>                                  
												<td>542<small class="text-muted">(61%)</small></td>
											</tr><!--end tr-->    
											<tr>                                                        
												<td><i class="fa fa-firefox mr-2 text-blue font-16"></i>Firefox</td>
												<td>1235<small class="text-muted">(26%)</small></td>                                   
												<td>254<small class="text-muted">(49%)</small></td>
											</tr><!--end tr-->                                
										</tbody>
									</table>                                        
								</div>
							</div>
						</div>										
					</div>
					<div class="col-xl-6 col-12">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">
									Visitors By Country
								</h4>
							</div>
							<div class="box-body">
								<div id="world-map-markers" class="h-300"></div>
							</div>
						</div>										
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  {{template "footer" .}} 
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
</div>
<!-- ./wrapper -->	 
	
	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
  <script src="/assets/css/icons/feather-icons/feather.min.js"></script>	
	<script src="/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>	
	<script src="/assets/vendor_components/jquery.peity/jquery.peity.js"></script>
	<script src="/assets/vendor_components/chart.js-master/Chart.min.js"></script>
	<script src="/assets/vendor_components/jvectormap/lib2/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="/assets/vendor_components/jvectormap/lib2/jquery-jvectormap-world-mill-en.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/pages/dashboard-users.js"></script>
	<script src="/assets/js/webrtc.js"></script>
	<script src="/assets/js/demo.js"></script>
</body>
</html>
