<!DOCTYPE html>
<html lang="en">
	{{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary">
	<div class="wrapper">
	
	{{template "main-header" .}} 
	{{template "side-bar" .}}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

		{{template "content-header" .}}	  

		<!-- Main content -->
		<section class="content">
		 <!-- Step wizard -->
		  <div class="box box-default">
			<div class="box-header with-border">
			  <h4 class="box-title">New project creation</h4>	
			</div>
			<!-- /.box-header -->
			<div class="box-body wizard-content">
				<form action="{{index .product "new_project"}}" enctype="multipart/form-data" class="validation-wizard wizard-circle" method="post">
					<!-- Step 1 -->
					<h6>Basic configuration</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="name">Project Name :<span class="danger">*</span></label>
									<input type="text" class="form-control required" id="name" name="name"> </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Visibility :</label>
									<div class="c-inputs-stacked">
										<input name="visibility" type="radio" id="public_button" value="Public" checked>
										<label for="public_button" class="d-block">Public</label>
										<input name="visibility" type="radio" id="protected_button" value="Protected">
										<label for="protected_button" class="d-block">Protected</label>
										<input name="visibility" type="radio" id="private_button" value="Private">
										<label for="private_button">Private</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="avatar">Upload project avatar :</label>
								<input type="file" class="btn btn-primary form-control" id="avatar" name="avatar" accept="image/*">
							</div>
						</div>
					</section>
					<!-- Step 2 -->
					<h6>Details</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>App config :</label>
									<div class="c-inputs-stacked">
										<input type="checkbox" id="server_logging" name="server_logging" value="checked">
										<label for="server_logging" class="d-block">Server app logging</label>
										<input type="checkbox" id="client_logging" name="client_logging" value="checked">
										<label for="client_logging" class="d-block">Client app logging</label>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- Step 3 -->
					<h6>Confirmation</h6>
					<section>
					</section>
				</form>
			</div>
			<!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
	
	{{template "footer" .}}
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
    
	<script src="/assets/vendor_components/jquery-steps-master/build/jquery.steps.js"></script>
    <script src="/assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
    <script src="/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
  <script src="/assets/js/pages/steps.js"></script>
</body>
</html>
