<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary">
	<div class="wrapper">
		
	{{template "main-header" .}} 
	{{template "side-bar" .}}
 
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<div class="container-full">
			{{template "content-header" .}}
		</div> 
		<div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="loader" id="show-loader"></div>
			<script>
				  var project = '{{index .project "project_id"}}'
			</script>
			<iframe id="show-frame" src="http://0.0.0.0:10000/" width="100%" height="480"></iframe>
		</section>
		<!-- /.content -->
		</div>
	</div>
	<!-- /.content-wrapper -->
 
	{{template "footer" .}}
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
	<script src="/assets/css/icons/feather-icons/feather.min.js"></script>
	<script src="/assets/vendor_components/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
	<script src="/assets/vendor_components/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/pages/show.js"></script>
	<script src="/assets/js/demo.js"></script>

</body>
</html>
