<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary">
	<div class="wrapper">

		{{template "main-header" .}} 
		{{template "side-bar" .}}
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<div class="container-full">
			{{template "content-header" .}}
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-12 col-lg-7 col-xl-8">
						<!--TBD main content-->
					</div>	
					<div class="col-12 col-lg-5 col-xl-4">
						{{template "profile-side-bar" .}}
					</div>
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
			</div>
		</div>
		<!-- /.content-wrapper -->
		
		<!-- Side bar-->
		{{template "footer" .}}
		
		<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	{{template "profile-edit-avatar" .}}

	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
  <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
</body>
</html>
