{{define "profile-edit-avatar"}}
<!-- Modal -->
<div class="modal center-modal fade" id="modal-upload" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form enctype="multipart/form-data" action="/user-main/upload-avatar" method="post">
        <div class="modal-header">
        <h5 class="modal-title">Upload</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <p>{{index .user "avatar_upload"}}</p>
          <input type="file" class="btn btn-primary" id="avatar" name="avatar" accept="image/*">
        </div>
        <div class="modal-footer modal-footer-uniform">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary float-right">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /.modal -->
{{end}}