{{define "profile-side-bar"}}
  <div class="box box-inverse bg-img" style="background-image: url(/assets/images/profile-background-dark.jpg);" data-overlay="2">
      <div class="flexbox px-20 pt-20" data-overlay="5">
        <div class="dropdown">
          <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90 text-white"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{{index .user "profile_edit"}}"><i class="fa fa-user"></i> Edit Profile</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-upload"><i class="ti-settings"></i> Change Avatar</a>
          {{if eq (index . "future_feature") 0}}
          <a class="dropdown-item" href="#"><i class="ti-check"></i> Connect</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-ban"></i> Remove connection</a>
          </div>
          {{end}}
        </div>
      </div>

      <div class="box-body text-center pb-50" data-overlay="5">
        <a href="#">
          <img class="avatar avatar-xxxl avatar-bordered" src="{{index .user "avatar"}}" alt="">
        </a>
        <h4 class="mt-2 mb-0"><a class="hover-primary text-white" href="#">{{index .user "username"}}</a></h4>
        <span><i class="fa fa-map-marker w-20"></i> {{index .user "location"}}</span>
      </div>
  </div>				

  <!-- Profile Image -->
  <div class="box">
    <div class="box-body box-profile">            
      <div class="row">
        <div class="col-12">
          <div>
            <p>Full Name :<span class="text-gray pl-10">{{index .user "full_name"}}</span> </p>
            <p>Email :<span class="text-gray pl-10">{{index .user "email"}}</span> </p>
            <p>Phone :<span class="text-gray pl-10">{{index .user "phone"}}</span></p>
            <p>Website :<a href="{{index .user "website"}}"><span class="text-gray pl-10">{{index .user "website"}}</span></a></p>
          </div>
        </div>
        <div class="col-12">
          <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title">About me</h4>
            </div>
            <div class="box-body">
              <div class="inner-content-div">
                <p style="white-space: pre-wrap;">{{index .user "about"}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="pb-15">						
            <p class="mb-10">Social Profile</p>
            <div class="user-social-acount">
              <a href="{{index .user "facebook_link"}}" class="button btn btn-circle btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
              <a href="{{index .user "twitter_link"}}" class="button btn btn-circle btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
              <a href="{{index .user "github_link"}}" class="button btn btn-circle btn-social-icon btn-github"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{if eq (index . "future_feature") 0}}
    <div class="box">
      <div class="box-body">
        <div class="flexbox align-items-baseline mb-20">
          <h6 class="text-uppercase ls-2">Connections</h6>
          <small>{{index .user "connection_count"}}</small>
        </div>
        <div class="gap-items-2 gap-y">
          <a class="avatar" href="#"><img src="/assets/images/avatar/1.jpg" alt="..."></a>
          <a class="avatar" href="#"><img src="/assets/images/avatar/3.jpg" alt="..."></a>
          <a class="avatar" href="#"><img src="/assets/images/avatar/4.jpg" alt="..."></a>
          <a class="avatar" href="#"><img src="/assets/images/avatar/5.jpg" alt="..."></a>
          <a class="avatar" href="#"><img src="/assets/images/avatar/6.jpg" alt="..."></a>
          <a class="avatar" href="#"><img src="/assets/images/avatar/7.jpg" alt="..."></a>
          <a class="avatar" href="#"><img src="/assets/images/avatar/8.jpg" alt="..."></a>
          <a class="avatar avatar-more" href="#">+{{index .user "hidden_connections"}}</a>
        </div>
      </div>
      <div class="box-footer">
        <a class="text-uppercase d-blockls-1 text-fade" href="#">Invite People</a>
      </div>
    </div>
  {{end}}
{{end}}