<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary">
	<div class="wrapper">

		{{template "main-header" .}} 
		{{template "side-bar" .}}
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<div class="container-full">
			{{template "content-header" .}}

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-12 col-lg-7 col-xl-8">
            <div class="box">
              <!-- /.box-header -->
              <form class="form" action="/user-main/profile-edit" method="post">
                <div class="box-body">
                  <h4 class="box-title text-info"><i class="ti-user mr-15"></i> Basic Details</h4>
                  <p><h6 class="box-title text-info">To update email, go to Settings->Security</h6></p>
                  <hr class="my-15">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" name="full_name" class="form-control" value="{{index .user "full_name"}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" value="{{index .user "username"}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Country</label>
                        <input type="text" name="country" class="form-control" value="{{index .user "country"}}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" name="city" class="form-control" value="{{index .user "city"}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <label >About me</label>
                      <textarea rows="4" name="about" class="form-control">{{index .user "about"}}</textarea>
                    </div>
                  </div>
                  <h4 class="box-title text-info"><i class="ti-envelope mr-15"></i> Contact Info</h4>
                  <hr class="my-15">
                  <div class="form-group">
                    <label>Website</label>
                    <input class="form-control" name="website" type="url" value="{{index .user "website"}}">
                  </div>
                  <div class="form-group">
                    <label>Contact Number</label>
                    <input class="form-control" name="phone" type="tel" value="{{index .user "phone"}}">
                  </div>
                  <div class="form-group">
                    <label>Twitter account</label>
                    <input class="form-control" name="twitter_link" type="url" value="{{index .user "twitter_link"}}">
                  </div>
                  <div class="form-group">
                    <label>GitHub account</label>
                    <input class="form-control" name="github_link" type="url" value="{{index .user "github_link"}}">
                  </div>
                  <div class="form-group">
                    <label>Facebook account</label>
                    <input class="form-control" name="facebook_link" type="url" value="{{index .user "facebook_link"}}">
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-right">
                  <button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
                    <i class="ti-trash"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-rounded btn-primary btn-outline">
                    <i class="ti-save-alt"></i> Save
                  </button>
                </div>  
              </form>
              </div>
					</div>	

					<div class="col-12 col-lg-5 col-xl-4">
						{{template "profile-side-bar" .}}
					</div>

				</div>
				<!-- /.row -->

			</section>
			<!-- /.content -->
			</div>
		</div>
		<!-- /.content-wrapper -->
		
		{{template "footer" .}}
		
		<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	{{template "profile-edit-avatar" .}}

	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
  <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
</body>
</html>
